#paragrafo {
    color: brown;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}
.bloco {
    color: #000;
    background-color: blue;
    font-size: medium;
}